# Godot 4+ specific ignores
.godot/
/android/
/img/yellow_text.png
/img/UI assets (1x).png
/img/UI_assets_book_buttons_x6.png
/img/UI_assets_misc_buttons_x4.png
/tilemap/Legacy Hextiles/
/tilemap/*atlas*.png
ttrpg_legacy_hextiles_*.zip
